{% extends 'base.html' %}

{% block head-content %}

{% load static %}
<title>About Us</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<style>
    *{
        box-sizing: border-box;
        border: none;
    }
    #accountpage {
        border-bottom: #B54D47 0.2vw solid;
    }
    .hr {
        border-bottom: 0.5px solid #B54D47;
        margin: -10px auto 10px auto;
        width: 60%;
        }
    #main{
        width: 100%;
        margin: 0;
        min-height: 85vh;
        background: #fff;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .profile-outer{
        background: #efefef;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2% 2%;
        padding: 5%;
        zoom: 0.8;
    }
    .profile-inner{
        padding: 3%;
        background: #fff;
        text-align: center;
    }
    .profile-inner:hover{
        transform: scale(1.01);
        transition: transform 0.3s lniear;
    }
    img{
        margin: 2% auto;
    }

</style>

{% endblock %}

{% block body-content %}

<div id="main">
    <div class="about-div">
        <h1 style="text-align: center;">About Us</h1><hr class="hr">
        <p>Passed On Wisdom is a Campus Company Based in KJSCE Run by 4 Students from Third Year IT Engineering</p>
    </div>
    <div class="profile-outer">
        <div class="profile-inner">
            <img src="https://picsum.photos/250/300" alt="">
            <h2>John Doe</h2>
            <p>This is some description about the 4 of us and our interests. This is kept long enough to incorporate atleast 3 sentences.</p>
            <h3>Position in POW</h3>
            <p>Mobile - 9876543210</p>
        </div>
        <div class="profile-inner">
            <img src="https://picsum.photos/250/300" alt="">
            <h2>John Doe</h2>
            <p>This is some description about the 4 of us and our interests. This is kept long enough to incorporate atleast 3 sentences.</p>
            <h3>Position in POW</h3>
            <p>Mobile - 9876543210</p>
        </div>
        <div class="profile-inner">
            <img src="https://picsum.photos/250/300" alt="">
            <h2>John Doe</h2>
            <p>This is some description about the 4 of us and our interests. This is kept long enough to incorporate atleast 3 sentences.</p>
            <h3>Position in POW</h3>
            <p>Mobile - 9876543210</p>
        </div>
        <div class="profile-inner">
            <img src="https://picsum.photos/250/300" alt="">
            <h2>John Doe</h2>
            <p>This is some description about the 4 of us and our interests. This is kept long enough to incorporate atleast 3 sentences.</p>
            <h3>Position in POW</h3>
            <p>Mobile - 9876543210</p>
        </div>
    </div>
</div>


{% endblock %}