{% extends 'base.html' %}

{% block head-content %}

{% load static %}
<title>Your Orders</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<style>
    #main{
        width: 90%;
        margin: 2% auto;
        min-height: 80vh;
        background: #efefef;
        padding: 2% 2% 5% 2%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3% 2%;
        align-content: start;
        animation: fade 0.7s linear;
    }
    @keyframes fade {
        0% {
          opacity: 0
        }
        100% {
          opacity: 1
        }
      }

    hr{
        border-bottom: 0.5px solid #B54D47;
        margin: -10px auto 0px auto;
        width: 60%;
      }
    
    .inner{
        margin: 1%;
        background: #fff;
        min-height: 55vh;
        padding: 4%;
        box-shadow: 2px 0 5px 0 #bbb;
    }
    .inner:hover{
        transition: transform 0.2s linear;
        transform: scale(1.01);
    }
    #accountpage {
        border-bottom: #B54D47 0.2vw solid;
      }
</style>

{% endblock %}

{% block body-content %}
<h1 style="text-align: center;">Your Orders</h1><hr>
<div id="main">

    <!-- Book Card -->
    {% for obook in orderedBooks %}
    <div class="inner" id="bookDiv">
        <span class="type">Book</span>
        <span class="price" style="float: right; margin-right: 20px;">Rs. {{obook.book.price}}</span><br><br>
        <span class="title">{{obook.book.bookName}}</span><br><br>
        <span class="others">{{obook.book.author}}</span><br><br>
        <span class="description">{{obook.book.description}}</span><br><br>
        <span class="date">Date of Purchase: {{obook.timestamp}}</span><br><br>
        
        <span class="muted">If you have successfully received the book at the mentioned price and the order is complete, press the button below</span><br><br>
        <span class="last">{{obook.book.status}}  Print 
            {% if obook.book.status == 'inProcess' and obook.flag_customer_complete == '0' %}
            <a href="completedBook/{{obook.book.bookId}}/customer"><button class="complete-button">Order Complete?</button></a>
            {% endif %}
        </span>
        
    </div>
    {% endfor %}

    <!-- Boiler Suit Card -->
    {% for osuit in orderedSuits %}
    <div class="inner" id="suitDiv">
        <span class="type">Boiler Suit</span>
        <span class="price" style="float: right; margin-right: 20px;">Rs. 300</span><br><br>
        <span class="others">Variant - {{osuit.suit.gender}}</span><br><br>
        <span class="others">Size - {{osuit.suit.size}}</span><br><br>
        <span class="description"> {{osuit.suit.description}}</span><br><br>
        <span class="date">Date of Purchase:  {{osuit.timestamp}}</span><br><br>
        <span class="muted">If you have successfully received the Boiler Suit at the mentioned price and the order is complete, press the button below</span><br><br>
        <span class="last">{{osuit.suit.status}} Print
            {% if osuit.suit.status == 'inProcess' and osuit.flag_customer_complete == '0' %}
            <a href="completedSuit/{{osuit.suit.suitId}}/customer"><button class="complete-button">Order Complete?</button></a>
            {% endif %}
        </span>
    </div>
    {% endfor %}

    <!-- Lab Coat Card -->
    {% for ocoat in orderedCoats %}
    <div class="inner" id="coatDiv">
        <span class="type">Lab Coat</span>
        <span class="price" style="float: right; margin-right: 20px;">Rs. 180</span><br><br><br>
        <span class="others">Size - {{ocoat.coat.size}}</span><br><br><br>
        <span class="description">{{ocoat.coat.description}}</span><br><br>
        <span class="date">Date of Purchase: {{ocoat.timestamp}}</span><br><br>
        <span class="muted">If you have successfully received the Lab Coat at the mentioned price and the order is complete, press the button below</span><br><br>
        <span class="last">{{ocoat.coat.status}} Print
            {% if ocoat.coat.status == 'inProcess' and ocoat.flag_customer_complete == '0' %}
            <a href="completedCoat/{{ocoat.coat.coatId}}/customer"><button class="complete-button">Order Complete?</button></a>
            {% endif %}
        </span>
    </div>
    {% endfor %}

    <!-- Calculator Card -->
    {% for ocalculator in orderedCalculators %}
    <div class="inner" id="calculatorDiv">
        <span class="type">Calculator</span>
        <span class="price" style="float: right; margin-right: 20px;">Rs. 700</span><br><br><br>
        <span class="others">Model: Casio FX-991 ES Plus</span><br><br><br>
        <span class="description">{{ocalculator.calculator.description}}</span><br><br>
        <span class="date">Date of Purchase: {{ocalculator.timestamp}}1</span><br><br>
        <span class="muted">If you have successfully received the Calculator at the mentioned price and the order is complete, press the button below</span><br><br>
        <span class="last">{{ocalculator.calculator.status}} Print
            {% if ocalculator.calculator.status == 'inProcess' and ocalculator.flag_customer_complete == '0' %}
            <a href="completedCalculator/{{ocalculator.calculator.calculatorId}}/customer"><button class="complete-button">Order Complete?</button></a>
            {% endif %}
        </span>
    </div>
    {% endfor %}

    <!-- ToolKit Card -->
    {% for otk in orderedToolkits %}
    <div class="inner" id="toolkitDiv">
        <span class="type">Tool Kit</span>
        <span class="price" style="float: right; margin-right: 20px;">Rs. 120</span><br><br><br>
        <span class="others">Contents: 2 Blades, 1 Steel Ruler, 1 White Pencil</span><br><br><br>
        <span class="date">Date of Purchase: {{otk.timestamp}}</span><br><br>
        <!-- <span class="muted">If you have successfully received the Toolkit at the mentioned price and the order is complete, press the button below</span><br><br>
        <span class="last">Status Print<button class="complete-button">Order Complete?</button></span> -->
    </div>
    {% endfor %}
</div>

{% endblock %}