{% extends 'base.html' %}

{% block head-content %}

{% load static %}
<title>Your Orders</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<style>
    #main{
        width: 90%;
        margin: 2% auto;
        min-height: 80vh;
        background: #efefef;
        padding: 2% 2% 5% 2%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3% 2%;
        align-content: start;
    }

    hr{
        border-bottom: 0.5px solid #B54D47;
        margin: -10px auto 0px auto;
        width: 60%;
      }
    
    .inner{
        margin: 1%;
        background: #fff;
        min-height: 45vh;
        padding: 2%;
        box-shadow: 2px 0 5px 0 #bbb;
    }
    .inner:hover{
        transition: transform 0.2s linear;
        transform: scale(1.01);
    }
</style>

{% endblock %}

{% block body-content %}
<h1 style="text-align: center;">Your Orders</h1><hr>
<div id="main">

    <div class="inner" id="bookDiv"></div>
    <div class="inner" id="suitCoatDiv"></div>
    <div class="inner" id="calculatorDiv"></div>
    <div class="inner" id="toolkitDiv"></div>
    
</div>

{% endblock %}